@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

a{
    cursor: pointer;
}


.main-container {
   position: relative;
   width: 100%;
   height: 100vh;
    
} 

.result {
    color: #f3f3f3;
    font-size: 5rem;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    top: 42%;
    right: 0;
    left: 63%;
    z-index: 999;
}
   
.opacity {
    opacity: .4;
}
   
#particles-js {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #FB5C7D 0%, #6A81F9 100%), #FB5C7D;
}

main {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    
}

h1 {
    color: #ffffff;
    font-weight: 800;
    font-size: 6rem;
}

main p {
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.main-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.main-img {
    width: 45%;
    height: auto;
    object-fit: cover;
    margin: 5px;
    max-width:fit-content;
}

form {
    align-items: center;
}

textarea {
    width: 100%;
    max-width: 30rem;
    height: 60%;
    border-radius: 10px;
    resize: none;
    margin: 5px;
}

.selection {
    display: flex;
    justify-content: space-between;
}

select {
    width: 50%;
    height: 4rem;
    margin: 5px;
}

.check-button {
    width: 45%;
    height: 4rem;   
    background: #A72EF1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #ffffff;
    font-size: 2rem;
    margin: 5px;
}

.check-button:hover {
    background: #CF8AF8;
}

.check-button:active {
    background: #8C47B5;
}

footer {
    position: relative;
    display:flex;
    justify-content: space-between;
    max-width: 1180px;
    min-height: 50px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
}

footer img {
    max-width: 30%;
    max-height: 30px;
    object-fit: cover;
    margin: 10px;
    max-width:fit-content;
}

footer p {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #5C5C5C;
}

@media screen and (max-width: 378px) {
    .main-content, .selection, footer {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    .main-content {
        flex-direction: column-reverse;
      }
    
      .main-img, .check-button, select, textarea, footer {
          width: 95%;
      }

  }
   